{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
公开课
{% endblock %}

{% block custom_break %}
    <section>
        <div class="wp">
            <ul  class="crumbs">
                <li><a href="{% url 'index' %}">首页</a>></li>
                <li>公开课</li>
            </ul>
        </div>
    </section>
{% endblock %}



{% block content %}
    <div class="wp">
        <div class="list" style="margin-top:0;">
			<div class="left layout">
				<div class="head">
					<ul class="tab_header">
						<li class="{% if sort == '' %}active{% endif %}"><a href="?sort=">最新 </a></li>
						<li class="{% if sort == 'hot' %}active{% endif %}"><a href="?sort=hot">最热门</a></li>
						<li class="{% if sort == 'students' %}active{% endif %}"><a href="?sort=students">参与人数</a></li>
					</ul>
				</div>
                <div id="inWindow">
                    <div class="tab_cont " id="content">
					<div class="group_list">
                        {% for cours in all_courses %}
                            <div class="box">
                                <a href="{% url 'course:course_detail' cours.id %}">
                                    <img width="280" height="350" class="scrollLoading"
                                         src="{{ MEDIA_URL }}{{ cours.image }}"/>
                                </a>
                                <div class="des">
                                    <a href="{% url 'course:course_detail' cours.id %}">
                                        <h2>{{ cours.course_name }}</h2>
                                    </a>
                                    <p>点击数：{{ cours.click_nums }}&nbsp;&nbsp;</p>
                                    <span class="fl">时长：<i class="key">{{ cours.learn_time }}</i></span>
                                    <span class="fr">学习人数：{{ cours.get_all_students.count }}&nbsp;&nbsp;</span>
                                </div>
                                <div class="bottom">
                                    <a href="{% url 'course:course_detail' cours.id %}"><span class="fl">来自慕课网</span></a>
                                    <span class="star fr  notlogin
                                        " data-favid="15">
                                        1
                                    </span>
                                </div>
                            </div>
                        {% endfor %}
					</div>
                    <div class="pageturn">
                        <ul class="pagelist">
                                        <li class="active"><a href="?page=1">1</a></li>
                                        <li><a href="?page=2" class="page">2</a></li>
                                <li class="long"><a href="?page=2">下一页</a></li>
                        </ul>
                    </div>
				</div>
                </div>
			</div>
			<div class="right layout">
				<div class="head">热门课程推荐</div>
				<div class="group_recommend">
                    {% for course in hot_courses %}
                        <dl>
                            <dt>
                                <a target="_blank" href="">
                                    <img width="240" height="220" class="scrollLoading" src="{{ MEDIA_URL }}{{ course.image }}"/>
                                </a>
                            </dt>
                            <dd>
                                <a target="_blank" href="" ><h2>{{ course.course_name }}</h2></a>
                                <h2 class="fl">点击数：<i class="key">{{ course.click_nums }}</i></h2>
                                <h2 class="fl">难度：<i class="key">{{ course.get_course_degree_display }}</i></h2> {# choice显示 #}
                            </dd>

                        </dl>
                    {% endfor %}

				</div>
			</div>
		</div>
    </div>
{% endblock %}
