{% extends 'org-detail-base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="right companycenter layout grouping" >
		<div class="head">
			<h1>全部课程</h1>
			<a class="green fr more" href="{% url 'organization_detail_course' org_id %}?page_type=course">查看更多  >  </a>
		</div>
		<div class="brief group_list">
        {% for show_course in show_courses %}
            <div class="module1_5 box">
                    <a href="{% url 'course:course_detail' show_course.id %}"><img width="214" src="{{ MEDIA_URL }}{{ show_course.image }}"/></a>
                    <div class="des">
                        <a href="{% url 'course:course_detail' show_course.id %}"><h2>{{ show_course.course_name }}</h2></a>
                        <span class="fl">课时：<i class="key">{{ show_course.learn_time }}</i></span>
                        <span class="fr">参加人数：{{ show_course.student }}</span>
                    </div>
                    <div class="bottom">
                        <span class="fl">{{ organization.name }}</span>
                         <span class="star fr  notlogin
                            " data-favid="13"  data-fav-type="4">
                            0
                        </span>
                    </div>
                </div>
        {% endfor %}
		</div>
	</div>
    <div class="right companycenter layout" >
        <div class="head">
            <h1>机构教师</h1>
            <a class="green fr more" href="{% url 'organization_detail_teachers' org_id %}?page_type=teachers">查看更多  >  </a>
        </div>
        {% for show_teacher in show_teachers %}
            <div class="diarys">
            <div class="module5 share company-diary-box" style="padding:10px 0;">
                <div class="left">
                    <img class="pic" src="{{ MEDIA_URL }}{{ show_teacher.image }}"/>
                    <p>昵称：{{ show_teacher.name }}</p>
                </div>
                <div class="right">
                    <div class="top">
                        <div class="fl">
                            <a href=""><h1>{{ show_teacher.work_position }}</h1></a>
                            <span>发表于：{{ show_teacher.add_time|date:'%Y-%m-%d' }}</span>
                        </div>
                    </div>
                    <div class="middle" style="border-bottom:0;">课程介绍</div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
    <div class="right companycenter layout" >
        <div class="head">
            <h1>机构介绍</h1>
            <a class="green fr more" href="{% url 'organization_detail_introduce' org_id %}?page_type=introduce">查看更多  >  </a>
        </div>
        <div class="cont">&nbsp; &nbsp;
            <p>&nbsp; &nbsp;</p>
            {{ show_introduce }}
        </div>
    </div>
{% endblock %}