{% extends 'org-detail-base.html' %}
{% load staticfiles %}

{% block title %}
机构课程列表页
{% endblock %}

{% block content %}
<div class="right companycenter layout" >
		<div class="head">
			<h1>机构课程</h1>
		</div>
		<div class="brief group_list">
        {% for course in page_objs.object_list %}
            <div class="module1_5 box">
                    <a class="comp-img-box" href="{% url 'organization_detail_course' org_id %}">

                        <img width="214" height="195" src="{{ MEDIA_URL }}{{ course.image }}"/>
                    </a>
                    <div class="des">
                        <a href="course-detail.html"><h2>{{ course.course_name}}</h2></a>
                        <span class="fl">课时：<i class="key">{{ course.learn_time }}</i></span>
                        <span class="fr">学习人数：{{ course.student }}</span>
                    </div>
                    <div class="bottom">
                        <span class="fl">{{ course.organization.name }}</span>
                         <span class="star fr  notlogin
                            " data-favid="13" data-fav-type="4">
                            0
                        </span>
                    </div>
                </div>
        {% endfor %}

		</div>
			<div class="pageturn">
                <ul class="pagelist">
                {% if page_objs.has_previous %}
                    <li class="long"><a href="?{{ page_objs.previous_page_number.querystring }}">上一页</a></li>
                {% endif %}
                {% for current_page in page_objs.pages %}
                    {% if current_page == page_objs.number %}
                        <li class="active"><a href="?{{ current_page.querystring }}">{{ current_page }}</a></li> {# page_obj.pages 表示为页数是一个[]列表，page_obj是当前页面的对象 #}
                    {% else %}
                        <li class=""><a href="?{{ current_page.querystring }}">{{ current_page }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_objs.has_next %}
                    <li class="long"><a href="?{{ page_objs.next_page_number.querystring }}">下一页</a></li>
                {% endif %}
                </ul>
            </div>
	</div>
{% endblock %}
